.w3-theme-l5 {color:#000 !important; background-color:#fafbf7 !important}
.w3-theme-l4 {color:#000 !important; background-color:#f0f3e3 !important}
.w3-theme-l3 {color:#000 !important; background-color:#e1e7c7 !important}
.w3-theme-l2 {color:#000 !important; background-color:#d2dbab !important}
.w3-theme-l1 {color:#000 !important; background-color:#c3cf90 !important}
.w3-theme-d1 {color:#000 !important; background-color:#a8ba5e !important}
.w3-theme-d2 {color:#fff !important; background-color:#9aae4b !important}
.w3-theme-d3 {color:#fff !important; background-color:#879841 !important}
.w3-theme-d4 {color:#fff !important; background-color:#748338 !important}
.w3-theme-d5 {color:#fff !important; background-color:#606d2f !important}

.w3-theme-light {color:#000 !important; background-color:#fafbf7 !important}
.w3-theme-dark {color:#fff !important; background-color:#606d2f !important}
.w3-theme-action {color:#fff !important; background-color:#606d2f !important}

.w3-theme {color:#000 !important; background-color:#b3c374 !important}
.w3-text-theme {color:#b3c374 !important}
.w3-border-theme {border-color:#b3c374 !important}

.w3-hover-theme:hover {color:#000 !important; background-color:#b3c374 !important}
.w3-hover-text-theme {color:#b3c374 !important}
.w3-hover-border-theme:hover {border-color:#b3c374 !important}
